/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 
font-family: 'Didact Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

/* Full-Screen Optik */

html body {
  margin: 0 0;
  padding: 0 0;
  max-width: 100%;
}

/* Styling: Header */

header {
  text-align: center;
}

header div p {
  font-family: "Work Sans", sans-serif;
}

header h1 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 4rem;
  font-weight: 100;
  margin: 3.5rem;
}

#jumping_man {
  height: 55rem;
  max-width: 100%;
}

header h2 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 7rem;
  font-weight: 100;
  margin: 5rem;
}

/* ----- ----- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

/* Styling: Section01 */

#section01 {
  height: 53rem;
  width: 100%;
  background-image: url("../img/portfolio2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#section01 p:first-of-type {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  color: #9e9e9e;
  padding-left: 16%;
  padding-top: 12%;
  margin: 0 auto;
}

#section01 h2 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 6rem;
  font-weight: 100;
  color: #fff;
  padding-left: 16%;
  margin: 0.9% 0;
}

#section01 p:nth-of-type(2) {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  color: #9e9e9e;
  padding-left: 16%;
  margin-top: 5%;
}

#section01 button {
  font-family: "Fjalla One", sans-serif;
  font-size: 0.9rem;
  color: #fff;
  background: transparent;
  text-decoration: none;
  border: 0.15rem solid #fff;
  padding: 1rem 1.5rem;
  margin-left: 16%;
  margin-top: 3.5%;
}

#section01 aside {
  font-family: "Fjalla One", sans-serif;
  font-size: 10rem;
  color: #666;
  text-align: right;
  margin-right: 8%;
  margin-top: 0;
  opacity: 60%;
}

/* Hover Interaction: button + asdie (01) */

#section01 button:hover {
  color: #666;
  background-color: #fff;
}

#section01 #a:hover + #b {
  color: #fff;
  opacity: 1;
}

/* ----- ----- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

/* Styling: #section02 */

#section02 {
  height: 53rem;
  width: 100%;
  background-image: url("../img/portfolio3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#section02 p:first-of-type {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  color: #9e9e9e;
  padding-left: 16%;
  padding-top: 12%;
  margin: 0 auto;
}

#section02 h3 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 6rem;
  font-weight: 100;
  color: #000;
  padding-left: 16%;
  margin: 2.5% 0;
}

#section02 p:nth-of-type(2) {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  color: #9e9e9e;
  padding-left: 16%;
  margin-top: 0;
}

#section02 button {
  font-family: "Fjalla One", sans-serif;
  font-size: 0.9rem;
  color: #000;
  background: transparent;
  text-decoration: none;
  border: 0.08rem solid #000;
  padding: 1rem 1.5rem;
  margin-left: 16%;
  margin-top: 4%;
}

#section02 aside {
  font-family: "Fjalla One", sans-serif;
  font-size: 10rem;
  color: #666;
  text-align: right;
  margin-right: 8%;
  margin-top: 0;
}

/* Hover Interaction: button + aside (02) */

#section02 button:hover {
  color: #fff;
  background-color: #000;
}

#section02 #c:hover + #d {
  color: #000;
  opacity: 1;
}

/* ----- ----- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

/* Styling: #section03 */

#section03 {
  height: 53rem;
  width: 100%;
  background-image: url("../img/portfolio4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#section03 p:first-of-type {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  color: #9e9e9e;
  padding-left: 16%;
  padding-top: 12%;
  margin: 0 auto;
}

#section03 h4 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 6rem;
  font-weight: 100;
  color: #fff;
  padding-left: 16%;
  margin: 0.9% 0;
}

#section03 p:nth-of-type(2) {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  color: #9e9e9e;
  padding-left: 16%;
  margin-top: 5%;
}

#section03 button {
  font-family: "Fjalla One", sans-serif;
  font-size: 0.9rem;
  color: #fff;
  background: transparent;
  text-decoration: none;
  border: 0.15rem solid #fff;
  padding: 1rem 1.5rem;
  margin-left: 16%;
  margin-top: 3.5%;
}

#section03 aside {
  font-family: "Fjalla One", sans-serif;
  font-size: 10rem;
  color: #666;
  text-align: right;
  margin-right: 8%;
  margin-top: 0;
  opacity: 60%;
}

/* Hover Interaction: button + aside 03) */

#section03 button:hover {
  color: #666;
  background-color: #fff;
}

#section03 #e:hover + #f {
  color: #fff;
  opacity: 1;
}

/* ----- ----- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

/* Styling: #section04 */

#section04 {
  height: 52rem;
  width: 100%;
  background-image: url("../img/portfolio5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#section04 p:first-of-type {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  color: #9e9e9e;
  padding-left: 16%;
  padding-top: 12%;
  margin: 0 auto;
}

#section04 h5 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 6rem;
  font-weight: 100;
  color: #000;
  padding-left: 16%;
  margin: 2.5% 0;
}

#section04 p:nth-of-type(2) {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  color: #9e9e9e;
  padding-left: 16%;
  margin-top: 0;
}

#section04 button {
  font-family: "Fjalla One", sans-serif;
  font-size: 0.9rem;
  color: #000;
  background: transparent;
  text-decoration: none;
  border: 0.08rem solid #000;
  padding: 1rem 1.5rem;
  margin-left: 16%;
  margin-top: 4%;
}

#section04 aside {
  font-family: "Fjalla One", sans-serif;
  font-size: 10rem;
  color: #666;
  text-align: right;
  margin-right: 8%;
  margin-top: 3%;
  margin-bottom: 0%;
}

/* Hover Interaction: button + aside(04) */

#section04 button:hover {
  color: #fff;
  background-color: #000;
}

#section04 #g:hover + #h {
  color: #000;
  opacity: 1;
}

/* ----- ----- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

/* Styling: Article */

article {
  height: 53rem;
  width: 100%;
  background-color: black;
  background-position: center;
  color: #fff;
}

article h6 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 11rem;
  font-weight: 100;
  text-align: center;
  padding-top: 2%;
  margin: 3% auto;
}

article div {
  height: 21rem;
  width: 31rem;
  font-family: "Didact Gothic", sans-serif;
  margin-left: 45%;
}

article p {
  word-spacing: 0.4rem;
  line-height: 1.5rem;
  margin-top: 25%;
  margin-bottom: 10%;
  color: #9e9e9e;
}

article a {
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

/* ----- ----- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

/* Styling: Footer */

footer {
  width: 100%;
  text-align: center;
  background-color: #fff;
}

footer nav li {
  font-family: "Didact Gothic", sans-serif;
  font-size: 10rem;
  line-height: 8rem;
  margin-top: 20rem;
}

footer li a {
  text-decoration: none;
  color: #000;
}

footer li a:visited {
  color: #000;
}

footer li:hover {
  text-decoration: underline;
}

/* ----- ----- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

/* Zusatz Aufgabe */

footer div {
  margin: 15rem 0 5rem 0;
}

.herz {
  animation: beat 0.25s infinite alternate;
  transform-origin: center;
  font-size: 0.8rem;
  color: #000;
}

/* Heart beat animation */

@keyframes beat {
  to {
    transform: scale(1.5);
  }
}